body {
  background-color: DodgerBlue;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items:center;
}

ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
  width: 40%;
}

ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
  background-color: MediumSeaGreen;
}

ul li:last-child {
  border-bottom: none
}
